*{
	padding: 0;
	margin: 0;
}

body{
	background-color: hsl(41, 94%, 69%);
 	 min-height: 100vh;
}
a:visited, a:link, a:active{
	text-decoration: none;
	color: hsl(218, 45%, 62%);
}
a:hover{
	text-decoration: underline;
	color: hsl(218, 45%, 62%);
}
.box-1{
	font-size: 90px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: black;
	padding-bottom: 20px;
}
.box-21{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-22{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	line-height: 30px;
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-23{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	line-height: 30px;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-24{
	font-size: 40px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	line-height: 50px;
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-25{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	line-height: 20px;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-26{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-27{
	font-size: 30px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	line-height: 35px;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-28{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-29{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-30{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-31{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-32{
	font-size: 50px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-33{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
#big-text{
	text-decoration: underline
}
#tiny-text{
	text-decoration: underline
}
#big-text:hover{
	font-size: 300%;
	transition-duration: 2s;
	text-decoration: none;
}
#tiny-text:hover{
	font-size: 20%;
	transition-duration: 3s;
	text-decoration: none;
}
