*{
	padding: 0;
	margin: 0;
}

body{
	background-color: hsl(41, 94%, 69%);
 	 min-height: 100vh;
}
a:visited, a:link, a:active{
	text-decoration: none;
	color: white;
}
a:hover{
	text-decoration: underline;
	color: white;
#span{
	font-size: 20px;
}
.box-1{
	font-size: 90px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: black;
	padding-bottom: 20px;
}
.box-2{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.content:click .box-2{
	font-size: 45px;
}
.box-3{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-4{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-5{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-6{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-7{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-8{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-20{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-21{
	font-size: 40px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-9{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-10{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-11{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-12{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	line-height: 25px;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-13{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-14{
	font-size: 30px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	line-height: 35px;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-15{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	line-height: 20px;
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-16{
	font-size: 40px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	line-height: 35px;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-17{
	font-size: 40px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-18{
	font-size: 40px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	line-height: 40px;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-19{
	text-decoration: none;
	font-size: 30px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-22{
	font-size: 50px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
#big-text{
	text-decoration: underline;
	}
#tiny-text{
	text-decoration: underline;
	}
#big-text:hover{
	text-decoration: none;
	font-size: 300%;
	transition-duration: 2s;
	text-decoration: none;
	}
#tiny-text:hover{
	font-size: 20%;
	transition-duration: 2s;
	text-decoration: none;
}
