
*{
	padding: 0;
	margin: 0;
}

body{
	background-color: hsl(33, 82%, 9%);
}

.box-1{
	font-size: 90px;
	font-family: 'Ruluko', sans-serif;
	text-align: center;
	color: white;
	padding-bottom: 20px;
}
.box-2{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-3{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-4{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-5{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-6{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-7{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-8{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-9{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-10{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-11{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-12{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-13{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-14{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-15{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-16{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-17{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-18{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-19{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-20{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: center;
	color: white;
	padding-bottom: 20px;
	padding-top: 20px;
}
.box-21{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-22{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-23{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-24{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-25{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-26{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-27{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-28{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-29{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-30{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: left;
	color: lightblue;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
.box-31{
	font-size: 20px;
	font-family: 'Ruluko', sans-serif;
	text-align: right;
	color: pink;
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}
