*{
	padding: 0;
	margin: 0;
}

body{
	background-color: hsl(41, 94%, 69%);
 	 min-height: 100vh;
}
@media(max-width: 600px){
	.content{
		font-size: 20%;
	}
}
a:visited, a:link, a:active{
	text-decoration: none;
	color: hsl(218, 45%, 62%);
}
a:hover{
	text-decoration: underline;
}
.box-1{
	text-decoration: none;
	font-size: 90px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: black;
	padding-bottom: 20px;
}
.box-33{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-34{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-35{
	font-size: 40px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-43{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-36{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-37{
	font-size: 30px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-42{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-41{
	font-size: 20px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-38{
	font-size: 40px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
.box-39{
	text-decoration: none;
	font-size: 40px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: right;
	color: white;
	width: 35vw;
	display: inline-block;
	text-align: right;
	margin-left: 25vw;
}
.box-40{
	font-size: 50px;
	font-family: 'Libre Franklin', sans-serif;
	text-align: left;
	color: hsl(218, 45%, 62%);
	width: 35vw;
	text-align: left;
	display: inline-block;
	margin-left: 5vw;
}
#big-text:hover{
	font-size: 300%;
	transition-duration: 2s;
}
#tiny-text:hover{
	font-size: 20%;
	transition-duration: 3s;
}
#big-text{
	text-decoration: underline;
}
#tiny-text{
	text-decoration: underline;
}
